.frame-28 {
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Components-Avatar-Component-containerSize, 32px);
  border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
  background: #F5F5F5;

  .frame-24 {
  align-self: stretch;
  align-items: center;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  justify-content: center;

  .frame-26 {
  align-items: flex-start;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  flex-direction: column;
  justify-content: center;
  gap: var(--Components-Avatar-Component-containerSize, 32px);
  flex: 1 0 0;
  }

  .frame-106 {
  align-items: flex-start;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  .h1-quartos {
    color: #182558;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

  .textInform {
    color: var(--Neutral-Color-colorText, #4B4B4B);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
  }

  .frame-22 {
  align-self: stretch;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  justify-content: space-between;
  }

  .frame-21 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: white;
    margin-bottom: 20px;
    border-radius: 16px; 
    gap: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  .group-91 {
    width: 100%;
    height: 368px;
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
   }

  .image-style {
    width: 555px;
    height: 365.998px;
    flex-shrink: 0;
    border-radius: var(--Components-Button-Component-onlyIconSize, 16px) var(--Components-Button-Component-onlyIconSize, 16px) var(--Components-Input-Component-paddingBlockSM, 0px) var(--Components-Input-Component-paddingBlockSM, 0px);
    background:  lightgray 50% / cover no-repeat;
  }

  .frame-102 {
  display: flex;
  width: 555px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
    
    .frame-99 {
      align-self: stretch;
      align-items: flex-start;
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      flex-direction: column;
      gap: var(--Components-Avatar-Component-containerSize, 10px);
    }

    .frame-96 {
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      align-items: center;
      gap: var(--Components-Button-Component-onlyIconSize, 18px);
      align-self: stretch;
      border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
    }

    .frame-89 {
      align-items: center;
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      justify-content: flex-end;
      gap: 4px;
      flex: 1 0 0;
    }

    .frame-98 {
      align-self: stretch;
      align-items: flex-start;
      border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      flex-direction: column;
      gap: var(--Components-Button-Component-onlyIconSize, 16px);
    }

    
    .frame-101 {
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      align-items: flex-end;
      gap: var(--Components-Button-Component-onlyIconSize, 10px);
      align-self: stretch;

    .frame-100 {
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;
      }

    .price-title {
      color: #182558;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      }

    .button-style {
      align-items: center;
      display: flex;
      cursor: pointer;
      padding: 8px 24px;
      flex-direction: column;
      justify-content: center;
      border-radius: var(--Components-Button-Global-borderRadiusLG, 8px);
      background: #182558;
      box-shadow: 0px 1px 0px 0px rgba(5, 145, 255, 0.10);
      gap: 8px;
      color: #FFF;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      }
    }
    
  }
  
    .text-style {
      color: #14274A;
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.4px;
    }
    
    .title-dayle {
      color: var(--Neutral-Color-colorTextSecondary, #7A7A7A);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    
    .description {
      max-height: 250px;

    .width-description-1 {
      align-self: stretch;
      color: var(--Neutral-Color-colorText, #4B4B4B);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-align: justify;
      line-height: 25px;
    }
    .width-description-2 {
      align-self: stretch;
      margin: 10px;
      color: var(--Neutral-Color-colorText, #4B4B4B);
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      text-align: justify;
      line-height: 28px;
    }
    .width-description-3 {
      align-self: stretch;
      color: var(--Neutral-Color-colorText, #4B4B4B);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-align: justify;
      line-height: 22px;
    }
    
  }
  
  .frame-95 {
      align-items: center;
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
      gap: 14.022px;
      
      .icon-style-wifi {
        display: flex;
        width: 30.582px;
        height: 30.819px;
        padding: 7.011px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.011px;
      }
      
      .icon-style-bell{
        display: flex;
        width: 30.582px;
        height: 30.819px;
        padding: 7.011px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.011px;
      }
    }

    .icon-style-coffee {
      display: flex;
      width: 30.582px;
      height: 30.819px;
      padding: 7.011px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7.011px;
    }
    
    .icon-style-tv {
      display: flex;
      width: 30.582px;
      height: 30.819px;
      padding: 7.011px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7.011px;
    }
    
    .icon-style-hotTub {
      display: flex;
      width: 30.582px;
      height: 30.819px;
      padding: 7.011px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7.011px;
    }
    
  }
}
}
