.frame-28 {
  display: flex;
  width: 1920px;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Components-Avatar-Component-containerSize, 32px);
  border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
  border: 1px solid red;

  .frame-24 {
  align-self: stretch;
  align-items: center;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  justify-content: center;
  gap: var(--Components-Avatar-Component-containerSize, 32px);
  border: 1px solid red;

  .frame-26 {
  align-items: flex-start;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  flex-direction: column;
  justify-content: center;
  gap: var(--Components-Avatar-Component-containerSize, 32px);
  flex: 1 0 0;
  }

  .frame-106 {
  align-items: flex-start;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 1px solid red;
  }

  .frame-22 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  padding: var(--Components-Input-Component-paddingBlockSM, 0px);
  justify-content: space-between;
  }

  .frame-21{
    align-items: flex-start;
    display: inline-flex;
    padding: var(--Components-Input-Component-paddingBlockSM, 0px);
    flex-direction: column;
    gap: var(--Components-Input-Component-paddingBlockSM, 0px);
    border: 1px solid red;

  .group-91 {
    width: 555px;
    height: 368px;
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
   }

  .image-style {
    width: 555px;
    height: 365.998px;
    flex-shrink: 0;
    border-radius: var(--Components-Button-Component-onlyIconSize, 16px) var(--Components-Button-Component-onlyIconSize, 16px) var(--Components-Input-Component-paddingBlockSM, 0px) var(--Components-Input-Component-paddingBlockSM, 0px);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
}

  }
}