$neutral-color-text: var(--neutral-color-neutral-color-text, #333);
$font-family: 'Inter';
$font-size: 20px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  gap: 24px;
  flex: 1 0 0;
}

nav {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  gap: 24px;

  a {
    color: $neutral-color-text;
    font-family: $font-family;
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
  }

  a:hover {
    color: #182558;
  }
}
