.footer-container {
    align-items: flex-start;
    background-color: #182558;
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    display: flex;
    padding: 48px 50px 45px 80px;
    justify-content: space-between;

    .frame-128 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    align-items: flex-end;
    gap: 201px;
    align-self: stretch;
    width: auto;
    height: 100%;
    }

    .frame-131 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    }

    .frame-121 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    }

    .frame-126 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    }

    .frame-127 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    align-items: flex-start;
    gap: 80px;
    }

    .frame-125 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--components-button-component-only-icon-size, 18px);
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    }

    .frame-126 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--components-button-component-only-icon-size, 8px);
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    }

    .container-about {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--components-button-component-only-icon-size, 18px);
    border-radius: var(--components-input-component-padding-block-sm, 0px);
    }

    .frame-132 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    align-items: flex-start;
    gap: var(--components-button-component-only-icon-size, 20px);

    .socialMedia {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: #182558;
    display: flex;
    height: 30px;
    padding: 10px;
    justify-content: center;
    gap: 10px;
    width: 30px;
    }


    }

    .container-130 {
    display: flex;
    padding: var(--components-input-component-padding-block-sm, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--components-button-component-only-icon-size, 16px);
    }

    .container-elements {
        display: flex;
        align-items: center;
        
        .input-footer {
            display: flex;
            height: 54px;
            width: 320px;
            align-items: center;
            gap: 10px;
            outline-style: none;
            border-radius: var(--components-input-global-border-radius-lg, 6px) var(--components-input-component-padding-block-sm, 0px) var(--components-input-component-padding-block-sm, 0px) var(--components-input-global-border-radius-lg, 6px);
            border-top: 1px solid var(--brand-color-color-primary-bg-hover, #CBDAF5);
            border-right: var(--components-input-component-padding-block-sm, 1px) solid var(--brand-color-color-primary-bg-hover, #CBDAF5);
            border-bottom: 1px solid var(--brand-color-color-primary-bg-hover, #CBDAF5);
            border-left: 1px solid var(--brand-color-color-primary-bg-hover, #CBDAF5);
            }

            .input-footer::placeholder {
                color: var(--components-input-global-color-text-placeholder, rgba(0, 0, 0, 0.25));
                font-family: Inter;
                font-size: 25px;
                font-weight: 400;
                padding: 6px;
                outline-style: none;
            }
      
            .button-footer {
                align-items: center;
                background: var(--brand-color-color-primary-bg-hover, #CBDAF5);
                border-radius: var(--components-input-component-padding-block-sm, 0px) 8px 8px var(--components-input-component-padding-block-sm, 0px);
                border: 1px solid var(--brand-color-color-primary-border, #9BB5E8);
                cursor: pointer;
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                height: 54px;
                padding: var(--components-input-component-padding-block-sm, 0px) 12px;
                justify-content: center;
                gap: var(--components-button-global-margin-xs, 8px);
            }
      }

    p {
    color: var(--neutral-color-bg, #F5F5F5);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
    }

    .strong {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
}