.container-assessment {
  align-items: flex-start;
  background: #F5F5F5;
  border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
  display: flex;
  padding: 50px 30px;
  flex-direction: column;
  gap: 45px;

  .title-Assessments {
    align-items: flex-end;
    display: flex;
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
    padding: var(--Components-Input-Component-paddingBlockSM, 0px);

    .title-style {
      color: #182558;
      font-family: Inter;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .container-carousel {
    display: flex;
    padding: var(--Components-Input-Component-paddingBlockSM, 0px);
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
    align-items: center;
    gap: 30px;
  }

    .container {
      max-width: 100vw;
      padding: 0;

    }
    .container .container-carousel {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
    }

    .carousel-style {
      display: flex;
      width: 740px;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      align-items: center;
      gap: 24px;
    }
    
    .card-feedback {
      align-items: flex-start;
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      flex-direction: column;
      justify-content: center;
      gap: var(--Components-Button-Component-onlyIconSize, 16px);
      flex: 1 0 0;
    }

    .Assessment {
      display: flex;
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
      justify-content: flex-start;
      align-items: center;
      gap: 370px;
      align-self: stretch;
    }


    .icon-user {
      display: flex;
      width: 120px;
      height: 120px;
      border-radius: 999px;
      background: var(--Components-Avatar-Global-colorTextPlaceholder, rgba(0, 0, 0, 0.25));
      padding: var(--Components-Input-Component-paddingBlockSM, 0px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .chevron-style {
      align-items: center;
      border-radius: 74px;
      background: rgba(75, 75, 75, 0.08);
      display: flex;
      height: 30px;
      padding: 16px;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      width: 30px;
    }

    .chevron-style:hover {
      background: rgba(58, 58, 58, 0.16);
    }
  }

  .container-space {
    display: flex;
    padding: var(--Components-Input-Component-paddingBlockSM, 0px);
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    padding: 35px 48px;
  }

  .text-autor {
    color: var(--Neutral-Color-Neutral-Color-Text, #333);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    align-self: stretch;
    color: var(--Neutral-Color-colorText, #4B4B4B);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }